@use "typography";

$primary-color: #74c5b5; // rgba(116,197,181,1)
$secondary-color: #27187e; // rgba(39,24,126,1)
$tertiary-color: #f09731; // rgba(240,151,49,1)

// Background Colors
$background-color: #eaedf7; // rgba(234,237,247,1)
$internal-bg: #f1f5fa; // rgba(241,245,250,1)

// Highlighting
$highlight-color: #c2e2e1;
$highlighting-color: #f0e6f0;

// Map Elements
$map-color: #d9dff2;
