<div class="grid grid-cols-3 gap-4">
  <!-- Emissions Card -->
  <div class="overflow-hidden col-span-2">
    <!-- Card header with mint green background -->
    <div
      class="bg-primary-700 p-[8px] flex items-center rounded-[4px] border-t-[1px] border-l-[1px] border-r-[1px] border-primary-500"
    >
      <span class="text-white font-medium">Emissions</span>
      <svg
        class="mb-2"
        width="28"
        height="26"
        viewBox="0 0 35 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="17"
          cy="24"
          r="8.8"
          fill="#F2F4FF"
          stroke="#F69230"
          stroke-width="0.4"
        />
        <path
          d="M17.125 22.7588V28.5H16.875V22.7588H17.125ZM17 19.5C17.1116 19.5 17.2141 19.5306 17.2969 19.5801L17.373 19.6348C17.4618 19.7146 17.4999 19.811 17.5 19.8984C17.5 19.9639 17.4787 20.0348 17.4307 20.0996L17.373 20.1631C17.2824 20.2445 17.1487 20.2979 17 20.2979C16.8885 20.2979 16.7858 20.2672 16.7031 20.2178L16.627 20.1631C16.538 20.0832 16.5 19.986 16.5 19.8984C16.5001 19.8329 16.5211 19.7621 16.5693 19.6973L16.627 19.6348C16.6949 19.5737 16.7872 19.5287 16.8916 19.5098L17 19.5Z"
          fill="#232323"
          stroke="#F69230"
        />
      </svg>
    </div>

    <!-- Card content with light blue background -->
    <div class="bg-primary-100">
      <!-- Header row -->
      <div
        class="grid grid-cols-4 text-primary-500 border-t border-primary-500 rounded-t-lg border-l-[1px] border-r-[1px] border-primary-500"
      >
        <div class="p-3 text-xs font-normal">CO2 Emitted</div>
        <div class="p-3 text-xs font-normal">EUA Required</div>
        <div class="p-3 text-xs font-normal">CH₄ Emitted</div>
        <div class="p-3 text-xs font-normal">N₂O Emitted</div>
      </div>

      <!-- Data row -->
      <div
        class="grid grid-cols-4 text-primary-500 border border-primary-500 rounded-b-[4px] bg-primary-600 min-h-[60px]"
        *ngFor="let fleet of fleetData"
      >
        <div class="px-4 py-2">
          <div>{{ fleet.CO2Emitted }}</div>
          <div class="text-xs">mt</div>
        </div>
        <div class="px-4 py-2">
          <div>{{ fleet.EUARequired }}</div>
          <div class="text-xs">EUA</div>
        </div>
        <div class="px-4 py-2">
          <div>{{ fleet.CH4Emitted }}</div>
          <div class="text-xs">mt</div>
        </div>
        <div class="px-4 py-2">
          <div>{{ fleet.N2OEmitted }}</div>
          <div class="text-xs">mt</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Energy Efficiency Card -->
  <div class="overflow-hidden col-span-1">
    <!-- Card header with mint green background -->
    <div
      class="bg-primary-700 p-[8px] flex items-center rounded-[4px] border-t-[1px] border-l-[1px] border-r-[1px] border-primary-500"
    >
      <span class="text-white font-medium">Energy Efficiency</span>
      <svg
        class="mb-2"
        width="28"
        height="26"
        viewBox="0 0 35 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="17"
          cy="24"
          r="8.8"
          fill="#F2F4FF"
          stroke="#F69230"
          stroke-width="0.4"
        />
        <path
          d="M17.125 22.7588V28.5H16.875V22.7588H17.125ZM17 19.5C17.1116 19.5 17.2141 19.5306 17.2969 19.5801L17.373 19.6348C17.4618 19.7146 17.4999 19.811 17.5 19.8984C17.5 19.9639 17.4787 20.0348 17.4307 20.0996L17.373 20.1631C17.2824 20.2445 17.1487 20.2979 17 20.2979C16.8885 20.2979 16.7858 20.2672 16.7031 20.2178L16.627 20.1631C16.538 20.0832 16.5 19.986 16.5 19.8984C16.5001 19.8329 16.5211 19.7621 16.5693 19.6973L16.627 19.6348C16.6949 19.5737 16.7872 19.5287 16.8916 19.5098L17 19.5Z"
          fill="#232323"
          stroke="#F69230"
        />
      </svg>
    </div>

    <!-- Card content with light blue background -->
    <div class="bg-primary-100">
      <!-- Header row -->
      <div
        class="grid grid-cols-2 text-primary-500 border-t border-primary-500 rounded-t-lg border-l-[1px] border-r-[1px] border-primary-500"
      >
        <div class="pl-8 pr-4 py-3 text-xs font-medium">EEOI</div>
        <div class="px-4 py-3 text-xs font-medium">AER</div>
      </div>

      <!-- Data row -->
      <div
        class="grid grid-cols-2 text-primary-500 border border-primary-500 rounded-b-[4px] bg-primary-600 min-h-[60px]"
        *ngFor="let compliance of fleetComplianceData"
      >
        <div class="pl-8 pr-4 py-2">
          <div>{{ compliance.EEOI }}</div>
          <div class="text-xs">gCO2eq/MJ</div>
        </div>
        <div class="px-4 py-2">
          <div>{{ compliance.AER }}</div>
          <div class="text-xs">gCO2eq/MJ</div>
        </div>
      </div>
    </div>
  </div>
</div>
